@keyframes glowing-shadow {
  0%, 100% { box-shadow: 0 0 30px rgb(154, 172, 255); }
  33% { box-shadow: 0 0 35px rgb(200, 100, 255); }
  66% { box-shadow: 0 0 40px rgb(100, 255, 150); }
}

@keyframes menu-shadow {
  0%, 100% { box-shadow: 0 0 10px rgba(27, 40, 56, 0.5); }
  50% { box-shadow: 0 0 20px rgba(27, 40, 56, 0.5); }
}