@use 'sass:meta';
@use 'sass:string';
@use '../variables' as *;
@use '../mixins' as *;

@mixin container($width: 90%) {
  width: $width;
  margin-left: auto;
  margin-right: auto;
}

.vapr-container-full {
  @include container(100%);
}

.vapr-height-modal {
  max-height: 90vh;
  overflow: hidden;
}

@each $name, $value in (
        'padding': $spacing-md,
        'padding-x': 0 $spacing-md,
        'padding-sm': $spacing-sm,
        'padding-lg': $spacing-lg,
        'padding-xl': $spacing-xl,
        'padding-header': $spacing-md $spacing-lg,
        'padding-body': $spacing-lg,
        'margin': $spacing-md,
        'margin-auto': $spacing-md auto,
        'margin-top': $spacing-md 0 0 0,
        'margin-bottom': 0 0 $spacing-md 0
) {
  .vapr-#{$name} {
    @if meta.type-of($value) == 'list' {
      #{string.slice($name, 1, string.index($name, '-') - 1)}: $value;
    } @else {
      #{$name}: $value;
    }
  }
}

.glass_modal form {
  width: 90% !important;
  max-width: 480px !important;
}

@include responsive(tablet) {
  .vapr-height-card {
    max-height: 90vh;
  }

  .vapr-height-modal {
    max-height: 95vh;
  }
}

.vapr-center {
  margin-left: auto;
  margin-right: auto;
}

.vapr-rounded { border-radius: $radius-lg; }

article {
  width: 100%;
}

.vapr-scrollbar {
  @include scrollbar-style;
}