#xp_bar{
    bottom: 10px;
    position: fixed;
    padding: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 90%;
    overflow: hidden;
}

#xp_bar_progress{
    width: 50%;
    background-color: rgba(13, 99, 255, 0.48);
}