#xp_bar{
    position: relative;
    padding: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 90%;
    overflow: hidden;
    margin-top: 20px;
}

#xp_bar span{
    font-size: 15px;
    color: rgba(255,255,255,0.7);
    height: 25px;
    line-height: 25px;
}

#xp_bar .username{
    float: right;
}

#xp_bar_progress{
    width: 50%;
    background-color: rgba(13, 99, 255, 0.48);
    height: 25px;
    position: absolute;
}

#xp_bar span,
#xp_bar i{
    z-index: 10;
    position: relative;
}