#background_images_container{
    max-height: 70vh;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

.background_image_div{
    width: 240px;
    border-radius: 8px;
    overflow: hidden;
    list-style: none;
    height: 137px;
    display: inline-block;
    margin: auto;
}


.background_image_div img{
    width: 240px;
    filter: blur(5px);
    transition: all 0.5s;
}

.background_image_overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    width: 240px;
    height: 137px;
    text-align: center;
    line-height: 137px;
    color: #fff;
    z-index: 30;
}

.background_image_div:hover img{
    filter: blur(1px);
}

.background_image_overlay h5{
    margin: 0;
}