#background_images_container{
    max-height: 70vh;
    overflow-y: auto;
    list-style: none;
}

.background_image_div{
    width: 240px;
    border-radius: 8px;
    overflow: hidden;
    list-style: none;
    height: 137px;
}


.background_image_div img{
    width: 100%;
}

.background_image_overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    width: 240px;
    height: 137px;
    text-align: center;
    line-height: 137px;
    color: #fff;
    backdrop-filter: blur(5px);
    border-radius: 8px;
    transition: all 0.5s;
}

.background_image_overlay:hover{
    backdrop-filter: blur(1px);
}

.background_image_overlay h5{
    margin: 0;
}