.create-post-btn {
    position: fixed;
    display: block;
    top: 20px;
    left: 20px;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.4s;
    width: 38px;
    height: 38px;
    overflow: hidden;
    font-size: 18px;
    background-color: #17212b;
    box-shadow: 0 0 10px #17212b;
    line-height: 0;
}

.create-post-btn:hover {
    background-color: #0d8eff83;
    box-shadow: 0 0 10px #0d8eff83;
}

.create-post-btn i{
    margin: 0;
}

.post {
    background-color: rgba(255,255,255,0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 8px;
    box-shadow: 0 0px 15px rgba(255, 255, 255, 0.3);
    margin: 20px;
    padding: 20px;
    color: #fff;
    transform: translateY(100vh);
    transition: all 1s ease-in-out;
}

@keyframes swipeRight {
    0% {
        transform: rotate(0deg) translate(0, 0);
        background-color: rgba(255,255,255,0.4);
        box-shadow: 0 0px 15px rgba(255, 255, 255, 0.3);
        opacity: 1;
    }
    25%{
        background-color: rgba(46, 204, 113, 0.4);
        box-shadow: 0 0px 15px rgba(46, 204, 113, 0.3);
    }
    100% {
        transform: rotate(20deg) translate(100px, -50px);
        opacity: 0;
    }
}

@keyframes swipeLeft {
    0% {
        transform: rotate(0deg) translate(0, 0);
        background-color: rgba(255,255,255,0.4);
        box-shadow: 0 0px 15px rgba(255, 255, 255, 0.3);
        opacity: 1;
    }
    25%{
        background-color: rgba(231, 76, 60, 0.4);
        box-shadow: 0 0px 15px rgba(231, 76, 60, 0.3);
    }
    100% {
        transform: rotate(-20deg) translate(-100px, -50px);
        opacity: 0;
    }
}

@keyframes skip {
    0% {
        transform: rotate(0deg) translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0px,-100px);
        opacity: 0;
    }
}

.glass_modal {
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: #fff;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes glowing-shadow {
    0% {
        box-shadow: 0 0 30px rgb(154, 172, 255); /* Initial blue shadow */
    }
    33% {
        box-shadow: 0 0 35px rgb(200, 100, 255); /* Purple shadow */
    }
    66% {
        box-shadow: 0 0 40px rgb(100, 255, 150); /* Green shadow */
    }
    100% {
        box-shadow: 0 0 30px rgb(154, 172, 255); /* Back to blue shadow */
    }
}

#register{
    text-align: center;
}

.glass_modal form{
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(154, 172, 255);
    width: 80%;
    color: #555;
    animation: glowing-shadow 8s infinite;
}

.glass_modal form h3{
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 38px;
    text-align: center;
    color: #444;
}

.glass_modal form p{
    text-align: center;
}

.glass_modal form .discord-link{
    position: relative;
    margin-top: 20px;
    font-weight: 700;
    top: 0;
    left: 0;
    padding: 13px;
    font-size: 22px;
    display: inline-block;
    box-shadow: 0 0 10px #5865f294;
}

.glass_modal form .discord-link i{
    margin-right: 5px;
}

#postForm #title,
#postForm #link{
    display: inline-block;
    width: calc(100% - 20px);
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(46, 46, 46, 0.3);
    background-color: rgba(255,255,255,0.1);
    color: #555;
    font-size: 14px;
    font-weight: 700;
}

input:focus {
    outline: none;
}

#add-post .profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}


#add-post button#publish:hover {
    background-color: #0d8bf0;
}

#post_username,
#post_time{
    font-size: 14px;
    color: rgba(255,255,255,0.6);
}

#post_image{
    width: 100%;
    max-height: 300px;
    border-radius: 8px;
    object-fit: contain;
}

#post_link a{
    display: none;
}

.upload-card {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    padding-bottom: 4px;
    margin-bottom: 20px;
}

.upload-card:hover {
    transform: translateY(-5px);
}

.upload-card img {
    width: 100%;
    max-height: 300px;
    object-fit: contain; /*cover*/
    display: block;
}

.upload-card i {
    font-size: 40px;
    color: #555;
    margin-top: 20px;
}

.upload-text {
    margin-top: 10px;
    color: #555;
    font-size: 16px;
}

#postForm button{
    color: #555;
    box-shadow: 0 0 5px rgba(46, 46, 46, 0.3);
    background-color: rgba(255,255,255,0.1);
    font-weight: 900;
    font-size: 17px;
    padding: 14px;
    font-family: "Poppins", sans-serif;
    margin-left: auto;
    transition: transform 0.3s ease;
}

#postForm button:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.post_stat{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#post_views{
    font-weight: 700;
    font-size: 20px;
}

#post_link a{
    float: right;
}

#post_steam{
    background-color: #1b2838;
    box-shadow: 0 0 5px #1b2838;
}

#post_itch{
    background-color: #fa5c5c;
    box-shadow: 0 0 5px #fa5c5c;
}

#post_discord{
    background-color: #5865F2;
    box-shadow: 0 0 5px #5865F2;
}

#post_reddit{
    background-color: #ff6314;
    box-shadow: 0 0 5px #ff6314;
}

#post_x{
    background-color: #000000;
    box-shadow: 0 0 5px #000000;
}

#post_threads{
    background-color: #111;
    box-shadow: 0 0 5px #111;
}

#post_pinterest{
    background-color: #E60023;
    box-shadow: 0 0 5px #E60023;
}

#post_twitch{
    background-color: #6441a5 ;
    box-shadow: 0 0 5px #6441a5 ;
}

#post_youtube{
    background-color: #FF0000 ;
    box-shadow: 0 0 5px #FF0000 ;
}

#post_instagram{
    background-color: #5B51D8 ;
    box-shadow: 0 0 5px #5B51D8 ;
}

#post_epic{
    background-color: #2F2D2E ;
    box-shadow: 0 0 5px #2F2D2E ;
}

#post_kick{
    background-color: #00e701 ;
    box-shadow: 0 0 5px #00e701 ;
}

#post_kickstarter{
    background-color: #05ce78 ;
    box-shadow: 0 0 5px #05ce78 ;
}

#post_patreon{
    background-color: #F96854 ;
    box-shadow: 0 0 5px #F96854 ;
}