.create-post-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.4s;
}

.create-post-btn:hover {
    background-color: #0d8eff83;
    box-shadow: 0 0 10px #0d8eff83;
}

.post {
    background-color: rgba(255,255,255,0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 8px;
    box-shadow: 0 0px 15px rgba(255, 255, 255, 0.3);
    margin: 20px;
    padding: 20px;
    color: #fff;
    transform: translateY(100vh);
    transition: transform 1s ease-out;
}

#add-post {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    position: fixed;
    top: 100px;
    z-index: 100;
}

#add-post .profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

#add-post textarea {
    width: calc(100% - 70px);
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

#add-post button#publish {
    background-color: #1da1f2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#add-post button#publish:hover {
    background-color: #0d8bf0;
}

#post_image{
    width: 100%;
    border-radius: 8px;
}