@media only screen and (min-width: 768px) {
    main {
        /*width: 80%;*/
        margin: 0 auto;
    }

    #feed {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 100vh;
    }

    /* Autres ajustements pour les écrans de bureau */
    .profile-img {
        height: 70px;
    }

    .attribute {
        flex: 0 0 calc(33.33% - 20px); /* Ajustement de la largeur des attributs dans la fiche de personnage */
        margin: 10px;
    }

    .post {
        width: 500px;
        margin: 0 auto;
    }

    #postForm {
        width: 500px;
    }
}