@media only screen and (min-width: 768px) {
    main {
        /*width: 80%;*/
        margin: 0 auto;
    }

    h1 {
        /*font-size: 3em;*/
    }

    #feed {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    /* Autres ajustements pour les écrans de bureau */
    .profile-img {
        height: 70px;
    }

    .attribute {
        flex: 0 0 calc(33.33% - 20px); /* Ajustement de la largeur des attributs dans la fiche de personnage */
        margin: 10px;
    }

    .post {
        width: 400px;
        margin: auto;
        margin-top: 20px;
    }

    #postForm {
        width: 500px;
    }

    .discord_login {
        width: 440px;
    }

    #xp_bar{
        width: 440px;
    }

    .hidden_on_mobile{
        opacity: 1;
    }

    #menu{
        width: calc(50% - 240px);
        max-width: 300px;

        margin-left: 20px;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }

    #menu form{
        background: rgba(255, 255, 255, 0.4);
        box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 15px;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        animation: none;
    }

    #menu li{
        font-size: 14px;
    }
}