@media only screen and (min-width: 768px) {
    main {
        width: 80%;
        margin: 0 auto;
    }

    #feed {
        display: flex; /* Utilisation de flexbox pour ajuster la disposition */
        flex-direction: column; /* Empile les éléments verticalement */
        justify-content: flex-start; /* Alignement au début de la section */
        align-items: center; /* Centrage horizontal des éléments */
        min-height: 100vh; /* Définit une hauteur minimale pour la section pour couvrir au moins la hauteur de l'écran */
    }

    /* Autres ajustements pour les écrans de bureau */
    .profile-img {
        width: 70px;
        height: 70px;
    }

    .attribute {
        flex: 0 0 calc(33.33% - 20px); /* Ajustement de la largeur des attributs dans la fiche de personnage */
        margin: 10px;
    }

    .post {
        width: 70%; /* Ajustez la largeur de l'article selon vos besoins */
        margin: 0 auto; /* Centrez l'article horizontalement */
    }

    /* Ajustez les boutons du bas */
    .actions {
        justify-content: flex-end; /* Alignez les boutons à droite */
    }

    .actions button {
        margin-left: 10px; /* Ajoutez un espace entre les boutons */
    }
}