body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

body.background {
    background-image: url('/images/bg_2.webp');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; /* Pour couvrir toute la hauteur de la fenêtre */
}

.glass_bt{
    background-color: rgba(255,255,255,0.3);
    color: #fff;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(255,255,255,0.4);
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.4s;
}

.glass_bt i{
    margin-right: 5px;
}

.discord_login {
    
}

.discord_login:hover{
    background-color: #5865f294;
    box-shadow: 0 0 10px #5865f294;
}

.title {
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 15px;
    left: 0;
    right: 0;
    transition: all 1s;
}

.title span{
    animation: none;
}

main {
    opacity: 0;
    transition: all 1s;
    height: 100%;
}