@use '../variables' as *;

body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;

  &.background {
    background: linear-gradient(135deg, $dark 0%, $gray 50%, $gray-light 100%);
    width: 100%;
    height: 100vh;
  }
}

main {
  transition: all 1s;
  height: 100%;
  overflow: hidden;
}