<div id="xp_bar" class="xp-container glass_bt" style="display: none" onclick="navigateToMyProfile()">
    <!-- Level indicator -->
    <div>
        <span>
            Level
            <span class="xp-level">10</span>
        </span>

        <span class="xp-username" style="float: right">username</span>
    </div>



    <!-- Progress bar -->
    <div class="xp-track">
        <div id="xp_bar_progress" class="xp-progress"></div>
        <div id="xp_bar_progress_visual" class="xp-progress-visual"></div>
    </div>


    <!-- XP notification -->
    <span id="xp-notification" class="xp-notification">+120 XP</span>
</div>