<template data-vapr="developer-game-item">
    <div class="game-item" id="game-item-{{game-id}}">
        {{#is-owned}}<div class="owned-badge">OWNED</div>{{/is-owned}}
        <div class="game-cover-wrapper">
            <img src="{{cover-image}}" class="game-cover" alt="{{title}}">
        </div>
        <div class="game-content">
            <h4 class="game-title">{{title}}</h4>
            <p class="game-description">{{description}}</p>
            <div class="game-meta">
                <div class="game-meta-item">
                    <i class="fa-solid fa-key"></i>
                    <span>{{available-keys}} / {{total-keys}} keys</span>
                </div>
                <div class="game-meta-item">
                    <i class="fa-solid fa-users"></i>
                    <span>{{players}} players</span>
                </div>
                {{#current-version}}
                <div class="game-meta-item">
                    <i class="fa-solid fa-code-branch"></i>
                    <span>v{{current-version}}</span>
                </div>
                {{/current-version}}
            </div>
            <div class="game-actions">
                <button class="game-action-button secondary" onclick="event.stopPropagation(); openKeyManagement('{{game-id}}')">
                    <i class="fa-solid fa-key"></i> Manage Keys
                </button>
                <button class="game-action-button secondary" onclick="event.stopPropagation(); openVersionManagement('{{game-id}}')">
                    <i class="fa-solid fa-code-branch"></i> Versions
                </button>
            </div>
        </div>
    </div>
</template>