<template data-vapr="version-management-card">
    <article class="version-management-card vapr-card vapr-container-full vapr-height-card vapr-rounded glass-primary" id="version-management-card" style="display:none;">
        <div id="versionManagementContent">
            <div class="vapr-card-header glass-section-bg">
                <div class="header-content">
                    <h2><i class="fa-solid fa-code-branch"></i> Version Management</h2>
                    <p class="glass-text-muted">{{game-title}}</p>
                </div>
                <button type="button" class="glass-close-btn" onclick="closeVersionManagementCard()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>

            <div class="vapr-card-body vapr-scrollbar">
                <slot/>
            </div>
        </div>
    </article>
</template>