#feed {
    position: relative;
}

.post-info h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

.user-details {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-details time{
    display: block;
}

.username {
    margin: 0;
    font-size: 1.2em;
}

.post-content {
    margin-bottom: 15px;
}

.desc {
    margin: 0;
}