<template data-vapr="game-key-item">
    <div class="key-item">
        <div style="display: flex; align-items: center; gap: 10px;">
            <span class="key-code">{{key-code}}</span>
            {{#tag}}<span class="key-tag">{{tag}}</span>{{/tag}}
        </div>
        <div style="display: flex; align-items: center; gap: 10px;">
            {{#is-used}}
            <div class="key-user-info">
                <div class="key-user-avatar">
                    <img src="{{#used-by-avatar}}https://cdn.discordapp.com/avatars/{{used-by-id}}/{{used-by-avatar}}.png?size=64{{/used-by-avatar}}{{^used-by-avatar}}https://vapr-club.b-cdn.net/default_vapr_avatar.png{{/used-by-avatar}}" alt="{{used-by-username}}">
                </div>
                <a href="/@{{used-by-username}}" class="key-user-name" target="_blank">
                    @{{used-by-username}}
                </a>
                <span class="key-used-date"></span>
            </div>
            {{/is-used}}
            {{^is-used}}
            <span class="key-status available">Available</span>
            <button class="copy-key-btn" onclick="copyKey('{{key-code}}')"><i class="fa-solid fa-copy"></i> Copy</button>
            {{/is-used}}
        </div>
    </div>
</template>