<template data-vapr="game-item">
    <div class="game-item" id="game-item-{{game-id}}">
        {{#is-owned}}<div class="owned-badge">OWNED</div>{{/is-owned}}
        <div class="game-cover-wrapper">
            <img src="{{cover-image}}" class="game-cover" alt="{{title}}">
        </div>
        <div class="game-content">
            <h4 class="game-title">{{title}}</h4>
            <p class="game-description">{{description}}</p>
            <div class="game-actions">
                <button class="game-action-button secondary" onclick="showGameDetails('{{game-id}}'); event.stopPropagation();">
                    <i class="fa-solid fa-info-circle"></i> Learn More
                </button>
            </div>
        </div>
    </div>
</template>