<template data-vapr="tebex-game-item">
    <div class="game-item tebex-item" id="game-item-{{game-id}}">
        {{#is-owned}}<div class="owned-badge">OWNED</div>{{/is-owned}}
        {{#on-sale}}<div class="sale-badge">SALE {{discount}}% OFF</div>{{/on-sale}}
        <div class="game-cover-wrapper">
            <img src="{{cover-image}}" class="game-cover" alt="{{title}}">
        </div>
        <div class="game-content">
            <h4 class="game-title">{{title}}

                <div class="game-price">
                    {{#on-sale}}
                    <span class="original-price">{{currency}} {{original-price}}</span>
                    {{/on-sale}}
                    <span class="current-price">{{currency}} {{price}}</span>
                </div>

            </h4>



            <div class="game-actions">
                {{^is-owned}}
                <button class="game-action-button primary" onclick="addToCart('{{tebex-id}}'); event.stopPropagation();">
                    <i class="fa-solid fa-shopping-cart"></i> Add to Cart
                </button>
                {{/is-owned}}
                {{#is-owned}}
                <button class="game-action-button primary" onclick="addToCart('{{tebex-id}}'); event.stopPropagation();">
                    <i class="fa-solid fa-gift"></i> Gift
                </button>
                {{/is-owned}}
                <button class="game-action-button secondary" onclick="showGameDetails('{{game-id}}'); event.stopPropagation();">
                    <i class="fa-solid fa-info-circle"></i> More
                </button>
            </div>
        </div>
    </div>
</template>