<template data-vapr="version-item">
    <div class="version-item glass-secondary">
        <div class="version-header">
            <h5>v{{version}}</h5>
            <span class="version-date"></span>
        </div>
        {{#changelog}}<p class="version-changelog">{{changelog}}</p>{{/changelog}}
        <div class="version-stats">
            <span><i class="fa-solid fa-download"></i> {{downloads}} downloads</span>
            {{#is-required}}<span class="required-badge">Required</span>{{/is-required}}
        </div>
    </div>
</template>